
.gradle
.idea
build
/gradle

.DS_Store
.AppleDouble
.LSOverride
.package.resolved

xcuserdata/
*.xcscmblueprint
*.xccheckout

*.xcarchive
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/*.*
*.xcuserstate
/*.gcno

*.xcodeproj
*.xcworkspace

build/
reports/*.*
stats/
/logs/
build/logs

/*.ipa
/*.zip

